@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    <style>
        hr {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 1px;
        }

        #border1{
    float: left;
    width: 320px;
    height: 500px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    outline-style:double;
}
    /* unvisited link */
    a:link {
    color: blue;
}
     /* visited link */
    a:visited {
    color: red;
}
     /* mouse over link */
    a:hover {
    color: hotpink;
}
    /* selected link */
    a:active {
    color: blue;
}
   
    </style>
}

<div class="jumbotron">
</div>

<div id="border1">
     <h1 style="text-align:center;">ÄLYTALO</h1>

   <p>Talon sijainti:</p>

    <div id="googleMap" style="width:300px;height:100px;">
    </div><script src="http://maps.googleapis.com/maps/api/js"></script>

<div class="col-md-offset-0 col-md-12">
    <div class="form-actions no-color">
        <div class="btn-group btn-group-vertical btn-lg">
            <hr>
            <a href="/TaloSaunat" class="btn btn-default" style="width:250px;">SAUNA&raquo;</a><hr>
            <a href="/TaloLammot" class="btn btn-default"style="width:250px;">LÄMMITYS&raquo;</a><hr>
            <a href="/TaloValot" class="btn btn-default" style="width:250px;">VALAISTUS&raquo;</a><hr>


        </div>
    </div>
</div>
</div>

<script>
        var myCenter = new google.maps.LatLng(60.457990699999996, 26.253110099999997);

        function initialize() {
            var mapProp = {
                center: myCenter,
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.SATELLITE
            };

            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

            var marker = new google.maps.Marker({
                position: myCenter,
            });

            marker.setMap(map);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
</script>

    
